open Utils

@genType
type <TYPE-NAME> = <TYPE-SCHEMA>

let decode<CAP-TYPE-NAME> = data => {
  try {
    Ok(<DECODE-CODE>)
  }
  catch {
    | err => {
      Console.log2("<CAP-TYPE-NAME> ERROR", err)
      Error(err)
    }
  }
}

let toJson = (req: <TYPE-NAME>) => {
  req->asJson
}
<OUT=../src/readOnly/api/types/<CAP-TYPE-NAME>.res>