<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BharatTaxi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>amzn-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<string>juspay-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).cred</string>
				<string>paytm-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>credpay</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>tez</string>
		<string>paytm</string>
		<string>bhim</string>
		<string>myairtel</string>
		<string>slice-upi</string>
		<string>ppe</string>
		<string>amazonpay</string>
		<string>cugext</string>
		<string>devtools</string>
		<string>kiwi</string>
		<string>navipay</string>
		<string>mobikwik</string>
		<string>tatadigital</string>
		<string>popclubapp</string>
		<string>super</string>
		<string>postpe</string>
		<string>jupiter</string>
		<string>hdfcbanknb</string>
		<string>aunb</string>
		<string>imobileappnb</string>
		<string>simplypayupi</string>
		<string>tnupi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>This will be used to select date and time for scheduling rides.</string>
	<key>NSCameraUsageDescription</key>
	<string>This will be used to capture images and send them in chat</string>
	<key>NSContactsUsageDescription</key>
	<string>This will be used to add emergency contacts for users safety, these contacts will be use to send SOS and place direct call</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App needs your current location to automatically set pick-up location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App needs your current location to automatically set pick-up location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to enable emergency SOS functionality, allowing users to send audio-based alerts during critical situations.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This will be used to allow users to select their profile picture.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This will be used to collect in-app activity in order to improve user engagement.</string>
	<key>UIAppFonts</key>
	<array>
		<string>FE-Font.ttf</string>
		<string>AreaNormal-Medium.otf</string>
		<string>AreaNormal-Black.otf</string>
		<string>AreaNormal-BlackItalic.otf</string>
		<string>AreaNormal-Bold.otf</string>
		<string>AreaNormal-BoldItalic.otf</string>
		<string>AreaNormal-Extrabold.otf</string>
		<string>AreaNormal-ExtraBoldItalic.otf</string>
		<string>AreaNormal-Regular.otf</string>
		<string>AreaNormal-RegularItalic.otf</string>
		<string>AreaNormal-SemiBold.otf</string>
		<string>AreaNormal-SemiBoldItalic.otf</string>
		<string>AreaNormal-Thin.otf</string>
		<string>AreaNormal-ThinItalic.otf</string>
		<string>DepartureMono-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>app_id</key>
	<string>bharatTaxi</string>
	<key>app_name</key>
	<string>$(APP_NAME)</string>
	<key>base_url</key>
	<string>https://api.sandbox.moving.tech/dev/app/v2</string>
	<key>client_id</key>
	<string>bharattaxiconsumer</string>
	<key>merchant_id</key>
	<string>BHARAT_TAXI</string>
	<key>moengage_app_id</key>
	<string>ADCHAWNEQ3CU21Y4MCBNJFMF</string>
	<key>service</key>
	<string>in.yatri.consumer</string>
</dict>
</plist>
